fastapi==0.115.6
uvicorn==0.34.0
elasticsearch==8.17.0
httpx==0.28.1
boto3==1.36.0
python-dotenv==1.0.1
jinja2==3.1.5
pydantic==2.10.4
pydantic-settings==2.7.1
bcrypt==4.2.1
python-jose[cryptography]==3.3.0
